@toolbarHeight: 56px;
@animationDuration: 0.3s;

#main-content{
  margin-top: @toolbarHeight;
  > md-toolbar {
    position:fixed;
    top:0;
  }
  > md-content {
    background-color: #eee;
    padding: 30px;
  }
}

html,body{
  height: 100%;
  min-height: 100%;
}

@keyframes fab_hide {
  from { transform: scale(1); }
  to   { transform: scale(0.2); }
}

@keyframes fab_show {
  from { transform: scale(0.2); }
  to   { transform: scale(1); }
}

.ng-hide-add    {
  animation: fab_hide @animationDuration linear;
  -webkit-animation: fab_hide @animationDuration linear;

}
.ng-hide-remove {
  animation: fab_show @animationDuration linear;
  -webkit-animation: fab_show @animationDuration linear;
}

