<div layout="column" layout-fill ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="containerCtrl.isDrawerOpen">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Supergol</h1>
      </md-toolbar>
      <md-content layout-padding>
        <drawer-items></drawer-items>
      </md-content>
    </md-sidenav>

    <md-button class="md-fab md-fab-bottom-right" aria-label="Add"
               ng-click="containerCtrl.options.addButton.click()"
               ng-show="containerCtrl.options.addButton">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>

    <md-content id="main-content" flex>


      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Menu" ng-click="containerCtrl.togleDrawer()">
            <md-icon md-svg-icon="assets/svg/ic_menu_white_18px.svg"></md-icon>
          </md-button>
          <h3>
            <span>{{containerCtrl.options.title}}</span>
          </h3>
          <span flex="65"></span>

          <span>Bienvenido {{containerCtrl.profile.given_name}}!</span>
        </div>

      </md-toolbar>

      <md-content flex md-scroll-y style="height: 100%" layout="column" ui-view>

      </md-content>

    </md-content>

  </section>
</div>
