<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <md-card class="md-2-line" flex-gt-md="25" flex-md="100" ng-repeat="team in teamsCtrl.teams" layout-align="top center">
    <img ng-src="{{team.logoUrl || 'assets/svg/ic_group_white_24px.svg'}}" alt="{{team.name}}" class="md-card-image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{team.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{team.description}}
      </p>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
      <md-button ng-click="teamsCtrl.openDetail(team.id)">{{ 'Open' | translate }}</md-button>
    </md-card-actions>
  </md-card>

</div>
