<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <md-card class="md-2-line" flex-gt-md="25" flex-md="100" ng-repeat="team in teamsCtrl.teams" layout-align="top center">
    <img ng-src="{{team.logoUrl || 'assets/svg/ic_group_white_24px.svg'}}" alt="{{team.name}}" class="md-card-image">
    <span flex></span>
    <md-card-content>
      <h2 class="md-title">{{team.name}}</h2>
      <p>
        {{team.description}}
      </p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-click="teamsCtrl.openDetail(team.id)">OPEN</md-button>
    </div>
  </md-card>

</div>
